.home{
    /* background-image: url('https://wallpapercave.com/wp/NZiXCXO.jpg');   */
    /* background-image: url('https://wallpapercave.com/wp/wp11288521.jpg'); */
    /* background-image: url('https://wallpapercave.com/wp/st7v9Ar.jpg');BOLASREALES */
    /* background-image: url('https://wallpapercave.com/wp/wp5701749.jpg'); PIKACHUILUMINADO */
    background-image: url("https://wallpapercave.com/uwp/uwp3491761.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    height: 1200px
}