.home{
    /* background-image: url('https://www.shutterstock.com/image-photo/yellow-color-pastel-tone-concept-260nw-1084997624.jpg');
     background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  */
    background-color: rgb(243, 238, 238);
    background-image: url ('https://w0.peakpx.com/wallpaper/925/958/HD-wallpaper-pokeball.jpg');
}

/* 'https://images4.alphacoders.com/110/110306.jpg' */
/* https://i.pinimg.com/550x/61/df/ce/61dfce6c6c88a5761affe928e1dc9541.jpg */
/* https://www.latercera.com/resizer/OHhEo2YQW9MYq5wl3pNAaLLmDJA=/900x600/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/JTYG6JBSS5EWBLXBHN7UAI4ZZU.jpg */


/* https://media.istockphoto.com/id/697583878/es/foto/fondo-de-piedra-negra-textura-gris-oscuro-cierre-alta-calidad-puede-usarse-en-blanco-para-el.jpg?s=170667a&w=0&k=20&c=XOQpy49Sz2uPvVRcqk5ieWwDFitRWx1FOpXd3DeBiBw= */ 
/* Fondo gris  */