@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container {
    display: flex;
    margin-top: 0px;
    margin-left: 17em;
    margin-right: 30px;
    gap: 5em;
}
  

.selectList {
    background-color: #0505053a;
    /* border: solid 0.2px rgba(255, 255, 255, 0); */
    color: rgb(14, 13, 13);
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    padding: 3px;
    cursor: pointer;
    border-radius: 6px;
    transition-duration: 0.2s;
    margin: 5px;
}


.selectList:hover {
    /* border-radius: 6px; */
    /* box-shadow: 0px 0px 5px #ffffff; */
    /* border: solid 0.2px white; */
    
    padding: 3px;
    transition-duration: 0.4s;
}

.selectList option {
    padding: 10px 20px;
    margin-bottom: 8px;
    border-radius: 12px;
    background-color: #babab383;
    white-space: pre-wrap;
    display: flex;
    margin-top: 100px;
    color: #080808;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

    
  
  /* select::-webkit-scrollbar
  {
      width: 8px;
      background-color: #d68112;
      
  } */
  
  /* select::-webkit-scrollbar-thumb
  {
      background-color: rgb(225, 225, 225);
      border-radius: 12px;
      background-image: -webkit-linear-gradient(90deg,
                                rgb(213, 213, 213) 25%,
                                transparent 25%,
                                transparent 50%,
                                rgba(181, 181, 181, 0.2) 50%,
                                rgba(194, 194, 194, 0.2) 75%,
                                transparent 75%,
                                transparent)
  } */