.container{
    /* background-image: url('https://wallpapercave.com/dwp1x/hRKw6Pm.jpg'); */

    /* background-image: url('https://p4.wallpaperbetter.com/wallpaper/103/890/343/pikachu-minimalism-wallpaper-preview.jpg'); FONDO PIKACHU  */
    background-image: url('https://wallpapercave.com/uwp/uwp3491761.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    height: 1000px;
}

/* https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80 */

.cardDetail {

            padding: 15px 10px;
            /* margin-right: 60px; */
            text-align: center;
            text-transform: uppercase;
            margin: 25em;
            width: fit-content;
            word-wrap: break-word;
            height: 20em;
            margin-top: 30px;
            right: 130px;
            /* left: 0px;  */
             background-color: rgba(227, 210, 210, 0.559);
            border-radius: 20px;
            position: relative;
            border: 3px solid rgb(7, 0, 0);
            opacity: 0.9;
            display: flex;
            flex-direction: row;
            box-shadow: 15px 15px 15px rgb(18, 18, 18); 
            
            

          
          

}

.cardDetail:hover {
   
        -webkit-transform:scale(1.3);transform:scale(1.3); 
      box-shadow: 0px 0px 10px 10px #dc0e0e; 
     -webkit-box-shadow: 15px 15px 30px 15px #dcddd6fe; 
      transform: rotate(360deg);
     -webkit-transform: rotate(360deg);
     /* -webkit-transform:scale(1.3);transform:scale(1.3) */
     }



.img {
           
    width: 10rem;
    height: 10rem;            
    
}

 .buttonBack {
 
/*** ESTILOS BOTÓN SLIDE RIGHT ***/

    background: #fff; /* color de fondo */
    
    color: #070708; /* color de fuente */
    border: 2px solid #0b0b0c; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 5px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-left: 55em;
    margin-top: 2em;
    letter-spacing: 5px;
  }

  .buttonBack:hover {
    color: #fff; /* color de fuente hover */
  }
  .buttonBack::after {
    content: "";
    background:rgba(148, 153, 22, 0.85); /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .buttonBack:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
    
    .loading {
      background-image: url('https://wallpapercave.com/uwp/uwp3491761.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed; 
      height: 1000px;
    
    }
   
    .gif{
      width: 30%;
      height: 30%;
    }


/* .buttonBack:hover {
   
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
      } */


.info{
    font-family: 'Ascrada';
    font-size: 23px;
    text-align: center;
    margin-top: 5px;
    color:black;
    height: fit-content;
    width: 325px;
    word-wrap: break-word;
    padding: 20px;
    padding-top: 10px;
    line-height: 0;
}
.name{
    font-family: 'Ascrada';
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
}


@font-face {
    font-family:'Ascrada';
    src: url('../../img/Ascrada.ttf');
  }