.AllCards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    justify-content: center;
    padding-top: 80px;
    /* background-color: rgba(255, 243, 243, 0.185); */
    /* border-radius: 20px; */
    /* margin-top: %; */
    /* margin-left: -2%; */
    /* margin-right: 2%; */
    /* position: relative; */
    /* background-size:auto;
    background-color: #4d4242ae; */
   
}



.listItem {

    /* --size: 32px;
    --margin: 6px;
    background-size: cover;
    margin: 0 var(--margin);
    border-radius: 6px;
    background: #202020;
    max-width: auto;
    min-width: var(--size);
    height: var(--size); */

    /* display: flex; */
    /* align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 6px;
    color: rgb(240, 238, 238); 
    border-color: #1a1a19;
    transition: all 1s ease;
    position: relative;
    background: rgba(0, 0, 0, 0.599); */
    --size: 32px;
    --margin: 6px;
    margin: 0 var(--margin);
    border-radius: 6px;
    background: #5f851d;
    max-width: auto;
    min-width: var(--size);
    height: var(--size);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 6px;
    color: rgb(4, 4, 4);
      }
 


.listItem:active {
    background-color: #d9d9cc;
    color: rgb(10, 10, 10);
}


/* .unorganizedList {
    background-color: #b8b7b4;
} */