.nav{

  /* background-image: url('https://wallpapercave.com/dwp1x/wp11194860.jpg'); */
  background-repeat: no-repeat;
 background-size: cover;
 background-color: rgba(148, 153, 22, 0.85);
 /* background-image: url(''); */
  
 /* 'https://w0.peakpx.com/wallpaper/818/475/HD-wallpaper-pokeballs-red-catch-anime.jpg' */
 
 /* https://w0.peakpx.com/wallpaper/344/959/HD-wallpaper-pokeballs-3d-nintendo-poke-balls-pokeball-pokemon-thumbnail.jpg */
 display: flex;
 /* background-size: cover; */

 /* background-repeat: no-repeat;
 width: 100%;
 height: 60px;
 padding-top: 15px;
 padding-bottom: 15px;
 margin-top: 0px; 

 /* border-radius: 10px; */
 /* position:absolute; */

 /* background-attachment: fixed;
 background-position:center;   */

 /* display: flex; */
 /* display: inline; */
 
  
}

.button button {

  text-transform: uppercase;
  background: #e4e5dd;
  border: none;
  padding: 5px 10px 5px 10px;
  letter-spacing: 5px;
  font-family: sans-serif;
  color: rgb(9, 8, 8);
  /* position: relative; */
  margin-right: 1em;
  /* bottom: 20px; */
  /* margin-bottom: 20px; */
  /* margin-right: 25px; */
  margin-left: 10px;
  transition: all ease-in-out 0.2s;
  border-radius: 3px;
  
    /* background-color: #a945c794; */
  }

  .button button:hover {
    background: rgba(169, 163, 163, 0.935);
  }

