.bodynav {
    background-color: rgba(148, 153, 22, 0.85);
    padding-top: 20px;
    padding-bottom: 5px;
    background-attachment: fixed;
   }

   

.b1{
  color: #3c5608;
    letter-spacing: 2px;
    font-size: 15px;
    text-decoration: none;
    background-color: #0505053a;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.4s;
    border: 1px solid rgba(255, 255, 255, 0.499);
    padding: 5px;
    border-radius: 2px;
    position: relative;;
   }
   
   
.b1:hover {
    cursor: pointer;
    background: rgba(24, 255, 178, 0.874);

    }    

    .b2{
      color: #3c5608;
        letter-spacing: 2px;
        font-size: 15px;
        text-decoration: none;
        background-color: #0505053a;
        border: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        transition: 0.4s;
        border: 1px solid rgba(255, 255, 255, 0.499);
        padding: 5px;
        border-radius: 2px;
      position: relative;
       }
       
       
    .b2:hover {
        cursor: pointer;
        background: rgba(24, 255, 178, 0.874);
        }    
    
/*    
   @font-face {
       font-family: "fontnew9";
       src: url("../../components/images-font/Heaters.otf");
     }
      */